{% extends 'base.html' %}

{% block content %}
<div class="page-inner">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">My Clients</h4>
                    <button class="btn btn-success btn-round ml-auto" data-toggle="modal" data-target="#addClientModal"
                        onclick="addClient()">
                        <i class="fa fa-plus"></i>
                        Add Client
                    </button>
                </div>
            </div>
            <div class="card-body">
                <!-- Modal -->
                <div class="modal fade" id="addClientModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form method="POST">
                                <input id="editClientId" name="editClientId" type="hidden">
                                <div class="modal-header no-bd">
                                    <h5 class="modal-title">
                                        <span id="action_lable" class="fw-mediumbold">
                                            Add New</span>
                                        <span class="fw-light">
                                            Client
                                        </span>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Name</label>
                                                <input id="clientName" name="clientName" type="text"
                                                    class="form-control" placeholder="Client Name" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Phone</label>
                                                <input id="clientPhone" name="clientPhone" type="number"
                                                    class="form-control" placeholder="Client Phone" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 pr-0">
                                            <div class="form-group form-group-default">
                                                <label>Background Color</label>
                                                <input id="backgroundColor" name="backgroundColor" type="text"
                                                    class="form-control" placeholder="Background Color">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-group-default">
                                                <label>Foreground Color</label>
                                                <input id="foregroundColor" name="foregroundColor" type="text"
                                                    class="form-control" placeholder="Foreground Color">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer no-bd">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    <button type="submit" id="addClientButton" name="action" value="add"
                                        class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="removeClientModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form method="POST">
                                <input id="removeClientId" name="removeClientId" type="hidden">
                                <div class="modal-header no-bd">
                                    <h5 class="modal-title">
                                        <span class="fw-mediumbold">
                                            Are you sure you want to Remove </span>
                                        <span class="fw-light" id="removeClientName">

                                        </span>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Click Confirm Remove to Completely Remove this Client.</p>
                                    <small class="text-danger">THIS ACTION IS NOT REVERSIBLE</small>
                                </div>
                                <div class="modal-footer no-bd">
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                    <button type="submit" id="removeClientButton" name="action" value="remove"
                                        class="btn btn-danger">Confirm Remove</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table id="add-row" class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Hotspots</th>
                                <th>Background Color</th>
                                <th>Foreground Color</th>
                                <th class="text-center" style="width: 10%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client in clients %}
                            <tr>
                                <td>{{ client.name }}</td>
                                <td>{{ client.phone }}</td>
                                <td>{{ client.hotspots }}</td>
                                <td>{{ client.background_color }}</td>
                                <td>{{ client.foreground_color }}</td>
                                <td>
                                    <div class="form-button-action">
                                        <button type="button" title="Edit this Client" data-toggle="modal"
                                            data-target="#addClientModal"
                                            onclick="editClient({{ client.id }}, '{{ client.name }}', '{{ client.phone }}', '{{ client.background_color }}', '{{ client.foreground_color }}')"
                                            class="btn btn-link btn-primary btn-lg"
                                            data-original-title="Edit this Client">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" title="Remove this Client" data-toggle="modal"
                                            data-target="#removeClientModal"
                                            onclick="removeClient({{ client.id }}, '{{ client.name }}')"
                                            class="btn btn-link btn-danger" data-original-title="Remove this Client">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<script>
    $(document).ready(function () {
        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });
    });

    function addClient() {
        $('#action_lable').html('Add New');
        $('#editClientId').val(null);
        $('#clientName').val(null);
        $('#clientPhone').val(null);
        $('#backgroundColor').val(null);
        $('#foregroundColor').val(null);
        $('#addClientButton').val('add');
    }

    function editClient(id, name, phone, background_color, foreground_color) {
        $('#action_lable').html('Edit');
        $('#editClientId').val(id);
        $('#clientName').val(name);
        $('#clientPhone').val(phone);
        $('#backgroundColor').val(background_color);
        $('#foregroundColor').val(foreground_color);
        $('#addClientButton').val('edit');
    }

    function removeClient(id, name) {
        $('#removeClientId').val(id);
        $('#removeClientName').html(name);
    }
</script>

{% endblock %}