<!-- Sidebar -->
<div class="sidebar sidebar-style-2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <img src="{{ url_for('static', filename='assets/img/profile.jpg') }}" alt="..."
                        class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            Hizrian
                            <span class="user-level">Administrator</span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="#profile">
                                    <span class="link-collapse">My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="#edit">
                                    <span class="link-collapse">Edit Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="#settings">
                                    <span class="link-collapse">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav nav-primary">
                <li class="nav-item {{ 'active' if page=='dashboard' }}">
                    <a href="{{ url_for('dashboard') }}">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>                
                <li class="nav-item {{ 'active' if page=='clients' }}">
                    <a href="{{ url_for('clients') }}">
                        <i class="fas fa-coins"></i>
                        <p>Clients</p>
                    </a>
                </li>                
                <li class="nav-item {{ 'active' if page=='hotspots' }}">
                    <a href="#hotspots">
                        <i class="fas fa-desktop"></i>
                        <p>Hotspots</p>
                    </a>
                </li>             
                <li class="nav-item {{ 'active' if page=='gallery' }}">
                    <a href="#gallery">
                        <i class="fab fa-youtube"></i>
                        <p>Gallery</p>
                    </a>
                </li>                
                <li class="nav-item {{ 'active' if page=='subscribers' }}">
                    <a href="#subs">
                        <i class="far fa-chart-bar"></i>
                        <p>Subscribers</p>
                    </a>
                </li>                   
                <li class="nav-item {{ 'active' if page=='users' }}">
                    <a href="#users">
                        <i class="fas fa-users"></i>
                        <p>System Users</p>
                    </a>
                </li>              
                <li class="nav-item {{ 'active' if page=='settings' }}">
                    <a href="#base">
                        <i class="fas fa-cogs"></i>
                        <p>Settings</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->