{% extends 'base.html' %}

{% block content %}
<div class="page-inner">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">WiFi Subscribers</h4>
                </div>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table id="add-row" class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Connected At</th>
                                <th>Phone No.</th>
                                <th>Hotspot</th>
                                <th>Device</th>
                                <th>IP Address</th>
                                <th>Client</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subscriber in subscribers %}
                            <tr>
                                <td>{{ subscriber.created_at }}</td>
                                <td>{{ subscriber.phone }}</td>
                                <td>{{ subscriber.hotspot }}</td>
                                <td>{{ subscriber.device }}</td>
                                <td>{{ subscriber.ip_address }}</td>
                                <td>{{ subscriber.client }}</td>
                                <td>{{ subscriber.status }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<script>
    $(document).ready(function () {
        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });
    });
</script>

{% endblock %}